# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class

# Environments (Virtualenv, venv, conda)
.venv/
venv/
ENV/
env/

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific / Local data
.DS_Store
data/*.txt
